* {
	box-sizing: border-box;
}

body{
	background-color: #E5E5E5;
	margin: 0;
	padding:0;
}
h1{
	font-size:24px;}
#main-menu {
	width:25%;
	float:left;
	display: block;
	margin:auto;
	padding:0 40px;
}
#main-menu li a{
	display:block;
	margin: auto;
	padding:0 40px;
	font-size: 20px;
	color: #737373;
	text-decoration: none;
	
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#main-menu a:hover, #main-menu a.active{
	color:black;
}
#main-menu a.active {
	font-weight: bold;
}
#banner img{
	width: 100%;
}
#main-content img{
	width: 300px;
	height: 200px;
}
img {

max-height: 300px;
}
