#main-menu {
	text-align: center;
	padding:0 40px;
}
#main-menu a{
	padding:0 40px;
}
.box{
	width: 33.3333333%;
	float: left;
	border: 1px solid #dddddd;
	border-top-width:5px;

.wrap1 {
	max-width: 1000px;
	margin:auto;
}

